body {
    background-color: rgba(255, 123, 0, 0.5);
}

header {
    font: bold 15pt Arial;
    text-align: center;
}

section {
    background: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 20px;
    font: normal 18pt Arial;
}

input#txtn1 {
    font: normal 15pt Arial;
    margin: 10px 10px 10xp 10px;
    width: 80px;
    padding: 5px;
}

input#txtn2 {
    font: normal 15pt Arial;
    margin: 10px;
    padding: 5px;
    width: 80px;
}

input#passo {
    font: normal 15pt Arial;
    margin: 10px 10px 10xp 10px;
    width: 80px;
    padding: 5px;
}

input#contar {
    font: bold 15pt Arial;
    margin: 10px 10px 10xp 10px;
    width: 100px;
    padding: 5px;
}

div#res {
    text-align: center;
}

footer {
    font: normal 14pt Arial;
    text-align: center;
    margin: 20px;
}